
body
{
   display: flex;
   flex-direction: column;
   background-color: rgba(110, 106, 106, 0.349);
}
header
{
    display: flex;
    justify-content: center;
    background-color: rgb(19, 18, 18);
    width: 100%;
    height: fit-content;
   
}
.cartinhas
{
    display: flex;
    justify-content:center;
}
img
{
   width: 150px;
}
   
.card
   {
       width: 200px; 
       background-color: rgba(153, 151, 36, 0.788);
       padding: 10px;
       margin: 15px;
       border: 2px solid rgb(122, 97, 13);
       border-radius: 10px;
   }

.cabeçalho
{
     color:rgb(207, 189, 22);
     font-size: 40px;
     font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}
     
     h3 { font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 700; line-height: 15.4px; } p { font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; font-size: 14px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 20px; } blockquote { font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; font-size: 21px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 30px; } pre { font-family: "Goudy Old Style", Garamond, "Big Caslon", "Times New Roman", serif; font-size: 13px; font-style: normal; font-variant: normal; font-weight: 400; line-height: 18.5714px; }

        



















